/*---footer---*/
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(192, 192, 192);
    color: black;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 10px;
    flex: 1 1 200px;
}


.social-icons a {
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
    background: white;
    color: black;
    padding: 5px;
    border-radius: 30%;
    text-align: center;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: black;
}

.footer-section ul li a:hover {
    text-decoration: underline;
    color: green;
}

.footer-section img {
    margin-top: 10px;
    max-width: 150px;
}

.footer-section p {
    text-align: center;
}
