* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----top bar----*/
/*---social media icons*/
.fa {

    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.top-bar {
    background-color: #85a947;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    color: #fff;
    height: 30px;
}

.social-media {
    display: block;
    gap: 10px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
}

.topbar-links {

    float: right;
    display: flex;
    gap: 15px;
}

.topbar-links a {

    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


/*---header---*/
.header {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    top: 0;
    z-index: 1000;
    height: 75px;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
}

.header .logo img {
    max-width: 150px;
    max-height: 100px;
}

.header .logo span {
    color: #4b4b4b;
}

.header .header-links {
    display: flex;
    gap: 20px;
}

.header .header-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header .header-links a:hover {
    color: black;
    text-decoration: underline;
}

.header-section {
    position: relative;
    height: 400px;
    background:no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header-section h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    z-index: 2;
}