body {
    font-family: Arial, sans-serif;
    background-color: rgb(192, 192, 192);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(log\ in1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background: #ffffffc9;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-wrapper {
    position: relative;
}

.form {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.form.active {
    display: block;
}

h2 {
    margin-bottom: 16px;
}

label {
    display: block;
    margin: 8px 0 3px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

p {
    text-align: center;
}

.toggle {
    color: green;
    cursor: pointer;
}

.toggle:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}